@import url(./assets/css/pets/header.css);
@import url(./assets/css/pets/main.css);
@import url(./assets/css/pets/footer.css);

@import url(./assets/css/fonts.css);
@import url(./assets/css/colors.css);
 
.page {
	max-width: 1280px;
	margin: 0 auto;
}

html {
  scroll-behavior: smooth;
}