.header__wrapper{
	padding: 30px 20px 0;
	margin: 0 auto;
}


.header__navbar{
	display: none;
}

.header__burger-menu {
	display: flex;
	flex-direction: column;
	gap: 8px;
}
.header__burger-menu span {
    display: block;

	width: 30px;
	height: 0px;

    border: 2px solid var(--beige);;
}
