@import url(./header.css);
@import url(./main.css);
@import url(../footer.css);

@import url(../fonts.css);
@import url(../colors.css);

 
.page {
	max-width: 1280px;
	margin: 0 auto;
}

html {
  scroll-behavior: smooth;
}