@import url(../colors.css);

@import url(../fonts.css);
@import url(../fonts320.css) screen and (max-width: 500px);
@import url(../fonts220.css) screen and (max-width: 220px);


@import url(./header/header.css);
@import url(./header/header768.css) screen and (max-width: 1280px);
@import url(./header/header320.css) screen and (max-width: 767px);

@import url(./not-only/not-only.css);
@import url(./not-only/not-only768.css) screen and (max-width: 1000px);
@import url(./not-only/not-only320.css) screen and (max-width: 500px);
@import url(./not-only/not-only220.css) screen and (max-width: 220px);

@import url(./about/about.css);
@import url(./about/about768.css) screen and (max-width: 1000px);
@import url(./about/about320.css) screen and (max-width: 500px);

@import url(./pets/pets.css);
@import url(./pets/pets768.css) screen and (max-width: 1220px);
@import url(./pets/pets320.css) screen and (max-width: 750px);
@import url(./pets/pets220.css) screen and (max-width: 220px);

@import url(./help/help.css);
@import url(./help/help768.css) screen and (max-width: 1220px);
@import url(./help/help320.css) screen and (max-width: 650px);




@import url(../footer.css);





.wrapper {
	max-width: 1280px;
	margin: 0 auto;
}

html {
  scroll-behavior: smooth;
}


@media (max-width: 320px) {
	html::-webkit-scrollbar {
	width: 0;
	height: 0;
	}
}