@import url(/assets/css/colors.css);

.welcome{
	background-image: url(/assets/images/index/start-screen-gradient-background.png);
    background-position: 0 -90px;
	background-repeat: no-repeat;
    background-size: cover;
	
	font-family: 'Georgia';
	font-style: normal;
}

.welcome__wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 90px 40px 0 40px;
}
	.welcome__content{
		margin-top: 163px;
		max-width: 460px;

		display: flex;
		flex-direction: column;
		gap: 42px;
	}
		.welcome__heading{
			max-width: 310px;

			
			color: var(--white);

			font-size: 44px;
			line-height: 130%;
			font-weight: normal;
		}
		.welcome__subheading{
			max-width: 460px;
			color: var(--gray);

			font-family: 'Arial';
			font-style: normal;
			font-weight: 400;
			font-size: 15px;
			line-height: 160%;
		}
		.welcome__button{
			background: var(--beige);

			width: 207px;
			height: 52px;

			display: flex;
			align-items: center;
			justify-content: space-around;

			border-radius: 100px;
		}
		.welcome__button a{
			font-family: 'Georgia';
			font-weight: 400;
			font-size: 17px;
			line-height: 130%;
			letter-spacing: 0.06em;
		}
	.welcome__image{
		overflow: hidden;
	}


.about {
	background-color: var(--white);
}
.about__wrapper{
	margin: 80px 215px 100px;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
	.about__content{
		margin-top: 14px;
		max-width: 430px;

		display: flex;
		flex-direction: column;
		gap: 25px;
	}
		.about__header{
			max-width: 370px;

			color: var(--heading-gray);

			font-weight: 400;
			font-size: 35px;
			line-height: 130%;
			font-family: 'Georgia';
			letter-spacing: 0.06em;
		}
		.about__text{
			font-family: 'Arial';
			font-style: normal;
			font-weight: 400;
			font-size: 15px;
			line-height: 160%;
		}

.pets{
	background: var(--light-gray);
	font-family: 'Georgia';
}
.pets__wrapper {
	padding: 80px 40px 100px;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 60px;

	position: relative;
}
	.pets__heading{
		max-width: 400px;

		color: var(--heading-gray);

		font-style: normal;
		font-weight: 400;
		font-size: 35px;
		line-height: 130%;
		letter-spacing: 0.06em;

		display: flex;
		align-items: center;
		text-align: center;
		
	}
	.pets__items{
		display: flex;
		flex-direction: row;
		gap: 90px;
	}
		.pets__card{
			background-color: var(--light);

			height: 435px;

			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 30px;
		}
			.pets__name{
				font-size: 20px;
				line-height: 23px;
				letter-spacing: 0.06em;
			}
			.pets__button-card{
				width: 187px;
				height: 52px;

				border: 2px solid var(--beige);
				border-radius: 100px;

				display: flex;

				align-items: center;
				justify-content: center;
			}
			.pets__button-card a{
				
				font-family: 'Georgia';
				font-style: normal;
				font-weight: 400;
				font-size: 17px;
				line-height: 130%;
				/* identical to box height, or 22px */

				letter-spacing: 0.06em;

				/* color-dark-3xl */

				color: #292929;
			}
		.pets__arrow {
			height: 52px;
			width: 52px;
			
			border: 2px solid var(--beige);
			border-radius: 100%;

			background-repeat: no-repeat;
			background-position: center center;

			position: absolute;

			top: 48%;
		}
		.arrow-left {
			background-image: url(/assets/icons/Arrow-left.svg);
			left: 40px;
		}
		.arrow-right {
			background-image: url(/assets/icons/Arrow-right.svg);
			right: 40px;
		}

		.pets__button{
			width: 261px;
			height: 52px;

			background: var(--beige);

			border-radius: 100px;

			display: flex;
			align-items: center;
			justify-content: center;
		}
		.pets__button a{
			font-family: 'Georgia';
			font-style: normal;
			font-weight: 400;
			font-size: 17px;
			line-height: 130%;
			/* identical to box height, or 22px */

			letter-spacing: 0.06em;

			/* color-dark-3xl */

			color: #292929;
		}