.text-h1, .text-h2, .text-card{
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 25px;
	line-height: 130%;

	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.06em;
}
.text-arial {
	font-family: 'Arial';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 160%;
}


.pets__name.text-card{
	/* pets-card-title */
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 23px;
	/* identical to box height */

	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.06em;
}

.text-toys{
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 110%;
	/* identical to box height, or 17px */

	letter-spacing: 0.06em;
}

.text-dontation{
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	line-height: 160%;
	/* identical to box height, or 24px */

	display: flex;
	align-items: center;
}