.footer{
	background: url(../images/index/start-screen-gradient-background.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.footer__wrapper {
	display: flex;
	flex-direction: row;

	gap:160px;

	padding: 40px 40px 0;
}
	.footer__contcats-header, .footer__address-header{
		margin-top: 15px;

		color: var(--white);
	}
		.footer__contcats{	
			display: flex;
			flex-direction: column;
			gap: 43px;
			width: 278px;
		}
			.footer__contcats-header{
					width: 280px;
			}
					.footer__email a, .footer__number a{
						display: flex;
						flex-direction: row;
						gap: 20px;
					}
		.footer__address{
			width: 302px;
			display: flex;
			flex-direction: column;
			gap:34px;
		}
			.footer__address-list{
				display: flex;
				flex-direction: column;
				gap: 35px;
			}
				.footer__item a{
					display: flex;
					gap:20px
				}


.footer__text {
	color: var(--beige);

	transition: all 0.3s ease;
}
.footer__text:hover{
	transform: scale(1.1);
}
