* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

ul {
  padding: 0;
}
ul li {
  list-style: none;
}
a:active, 
a:hover,
a:visited,
a {
    text-decoration: none;
    color: var(--black);
  }

h1 {
	font-weight: normal;
}
